.card{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none ;
    border-color: white;
    transition: all 1s;
    background-color: white;
    cursor: pointer;
    position: relative;
    transform: scale(.8);
}
.heart-i{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.card img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 15px;
}
.card h3{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    text-align: center;
    width: 80%;
    margin-top: 5px;
}
.card h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: orangered;
}
.card p{
    background-color: rgb(1, 141, 1);
    padding:  3px 5px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: white;
    font-weight: 600;
}
.c-cart{
    background-color: orangered;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    font-size: 13px;
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.233);
    cursor: pointer;
}
.activecard:hover{
    transform: scale(.9);
}

@media screen and (max-width:910px){
    .card{
        width: 300px;
        margin-left: 40px;
        border: none;
    }
    .card img{
        width: 130px;
        height: 130px;
    }
}