.s-offer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.s-offer img{
    width: 200px;
    height: 250px;
    object-fit: contain;
}
.s-content{
    text-align: start;
    padding-left: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.s-content span{
    background-color: orange;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    position: absolute;
    top: -50px;
    border-radius: 4px;
}
.s-content h4{
    font-size: 28px;
    font-weight: bold;
}
.s-content h5,h6{
    font-weight: 300;
}